<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>

  <link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">
  <script type="module" src="https://unpkg.com/@blaze/atoms@x.x.x/dist/blaze-atoms/blaze-atoms.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/@blaze/atoms@x.x.x/dist/blaze-atoms/blaze-atoms.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <nav>
      <ul class="c-heading u-xlarge">
      
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
         <li><a href="/login">Login</a></li>
        <button type="button" class="c-button c-button--brand u-xsmall" id="logout">Logout</button>
         
      </ul>
    </nav>

   
  </div>
  <main class="p-4 m-4">
    {{{body}}}
  </main>

  <footer class="border">
    &copy; The Tech Blog 2023
  </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>
