<header class="p-4 c-heading u-xlarge">
  <h1>Edit Blog Post</h1>
</header>

<form class="edit-blog-form">
  <div class="form-group">
    <label for="title-input">Title:</label>
    <input type="text" class="form-control" id="blog-title" name="title" value="{{title}}">
  </div>
  <div class="form-group">
    <label for="content-input">Content:</label>
    <textarea class="form-control" id="blog-content" name="content">{{content}}</textarea>
  </div>
  <button type="submit" class="c-button update-btn" data-id="{{this.id}}">Update</button>
  <button type="submit" class="c-button delete-btn" data-id="{{this.id}}">Delete</button>
</form>

<footer class="footer flex-row justify-center">
  <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
</footer>


<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>