<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form" class="o-container o-container--xsmall c-card u-high" >
      <div class="form-group">
       <label for="username-input-login">Username</label>
       <input type="text" id="username-input-login"/>
      </div>
      <div class="form-group">
        <label for="password-input-login">password:</label>
        <input class="form-input" type="password" id="password-login"/>
      </div>
      <div class="form-group">
        <button class="c-button u-small" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form" class="o-container o-container--xsmall c-card u-high" >
      <div class="form-group">
        <label for="username-input-new">Username</label>
       <input type="text" id="username-input-signup"/>
      </div>
      <div class="form-group">
        <label for="password-input-new">password:</label>
        <input class="form-input" type="password" id="password-signup"/>
      </div>
      <div class="form-group">
        <button class="c-button u-small" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
